.wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 60px;
    justify-content: space-between;
    font-weight: 500;
    background-color: #045676;
    color: #ffffff;
}
.subWrapper {
    display: flex;
    align-items: center;
}
img {
    margin-right: 20px;
}
p {
    font-size: 20px;
    margin: 0px;
}
.navLink {
    font-size: 15px;
    color: #ffffff;
    margin-right: 20px;
}
.userIcon {
    color: white;
    font-size: 22px;
    border: 1px solid white;
    padding: 5px 13px;
    border-radius: 100%;
}
.userIconSideNav {
    color: white;
    font-size: 50px;
}
.sideNavToggle {
    cursor: pointer;
    color: #ffffff;
    display: none;
}
.sideNavBackground {
    width: 600px;
    height: 400px;
    transform: translate(-4px, -136px);
}
.sideNavWelcome {
    font-weight: 500;
    font-size: 22px;
}
@media only screen and (max-width: 640px) {
    .navLink {
        display: none;
    }
    .userIcon {
        display: none;
    }
    .sideNav {
        display: block;
    }
    .sideNavToggle {
        display: flex;
    }
}
@media only screen and (max-width: 800px) {
    .wrapper {
        padding: 10px 20px;
    }
    .navLink {
        margin-right: 10px;
    }
    img {
        margin-right: 10px;
    }
}
