.mainWrapper {
    display: flex;
}
.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #00000026;
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.9);;
}
.inputsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}
.autoComplete {
    margin-top: 20px !important;
    width: 300px;
}
.datepicker {
    margin-top: 20px !important;
    width: 300px;
    padding: 17px 10px !important;
}
.datepicker:nth-child(2) {
    padding: 17px 10px !important;
}
.searchButton {
    background-color: #137195 !important;
    color: #ffffff !important;
    border: none;
    width: fit-content;
    align-self: center;
}
.searchButton:focus {
    background-color: #137195 !important;
}
.searchButton:hover {
    background-color: #137195 !important;
}
