.header {
    display: flex;
}
.header button {
    width: 50%;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    background-color: #ececec;
    color: #666666;
    cursor: pointer;
    border: none;
    text-decoration: none;
}
.active {
    background-color: #ffffff !important;
    pointer-events: none;
}
.mainWrapper {
    padding: 10px;
}
.tripWrapper {
    padding: 10px;
}
.flexWrapper {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
}
.time {
    font-weight: 400;
    font-size: 12px;
    margin: 0px;
}
.operatorName {
    font-size: 30px !important;
    font-weight: 500;
    color: #0e6c92;
}
.date {
    font-size: 12px;
}
.cancelBooking {
    align-self: center;
    border: none;
    font-size: 10px;
    padding: 10px 10px;
    background-color: #ff4343;
    color: #ffffff;
    border-radius: 7px;
    cursor: pointer;
}
