.busDetailsWrapper {
    display: flex;
    flex-direction: column;
}
.flexWrapperAmenities {
    display: flex;
    flex-wrap: wrap;
}
.amenitiesWrapper {
    font-size: 10px;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
    padding: 3px;
    margin: 10px 2px 2px 2px;
}
.flexWrapper{
    display: flex;
    justify-content: space-between;
}
.priceWrapper {
    font-size: 20px;
    font-weight: 600;
}
.journeyTime {
    font-size: 10px;
    margin: 0px;
}
.listItemWrapper {
    padding: 10px;
    border: 0.5px solid #a1a1a1;
}
.busMainWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.busMainWrapperHeading {
    font-size: 22px;
    margin: 10px;
    font-weight: 600;
}
.busSeatsWrapper {
    height: 200px;
    border: 2px solid #045676;
    border-radius: 20px;
    display: flex;
    padding: 10px;
}
.steeringWheel {
    font-size: 30px;
    padding-right: 10px;
    border-right: 0.5px solid #476b79;
    color: #045676;
    margin-right: 10px;
}
.busRow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.seatsWrapper {
    display: flex;
    flex-direction: column;
}
.seat {
    padding: 14px;
    margin: 2px;
    background-color: #d3dfe3;
    width: 55px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}
.seatBooked {
    pointer-events: none;
    padding: 14px;
    margin: 2px;
    background-color: #7ca5b4;
    width: 55px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
}
.seatSelected {
    padding: 14px;
    margin: 2px;
    background-color: #86c981;
    width: 55px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}
.seatDescriptionWrapper {
    display: flex;
    margin-top: 10px;
    align-items: center;
}
.proceedToBookWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
    padding: 10px;
    border-top: 0.5px solid #134457;
}
.proceedToBookWrapper p {
    font-weight: 300;
    color: #045676;
}
.proceedButton {
    background-color: #0e6c92 !important;
    color: #ffffff;
    border: none;
    width: fit-content;
    align-self: center;
}
.proceedButton:focus {
    background-color: #045676;
}
.proceedButton:hover {
    background-color: #045676;
}
.passengerDetailsWrapper {
    max-width: 500px;
    width: 100%;
    margin-top: 30px;
    padding: 0px 15px;
}
.boardingPointDroppingPointWrapper {
    display: flex;
    margin: 20px;
}
@media only screen and (max-width: 600px) {
    .busSeatsWrapper {
        flex-direction: column;
        height: auto;
        width: 300px;
    }
    .steeringWheel {
        border-right: none;
        padding-bottom: 10px;
        border-bottom: 0.5px solid #476b79;
        margin-bottom: 10px;
    }
    .busRow {
        flex-direction: row;
    }
    .seatsWrapper {
        flex-direction: row;
    }
    .seat {
        width: 40px;
        height: 60px;
    }
    .seatBooked {
        width: 40px;
        height: 60px;
    }
    .seatSelected {
        width: 40px;
        height: 60px;
    }
}
