.listWrapper {
    font-size: 10px;
    margin: 20px 10px;
}
.busesFoundHeader {
    font-size: 20px;
    margin-bottom: 20px;
}
.flexWrapper{
    display: flex;
    justify-content: space-between;
}
.priceWrapper {
    font-size: 20px;
    font-weight: 600;
}
.journeyTime {
    font-size: 10px;
    margin: 0px;
}
.listItemWrapper {
    padding: 10px;
    border: 0.5px solid #e5e5e5;
    box-shadow: 0px 0px 39px -26px;
    margin: 10px 0px;
}
.bookButton {
    border: none;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #227b9e;
    color: #ffffff;
    cursor: pointer;
}
.bookButton:focus {
    background-color: #227b9e;
    color: #ffffff; 
}
.flexWrapperAmenities {
    display: flex;
    flex-wrap: wrap;
}
.amenitiesWrapper {
    border-radius: 5px;
    border: 1px solid #c2c2c2;
    padding: 3px;
    margin: 10px 2px 2px 2px;
}
