.profileWrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.detailWrapper {
    display: flex;
}
.card {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.editButton {
    align-self: flex-end;
    border: none;
    text-decoration: none;
    background-color: #0e6c92;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 7px;
    margin-top: 20px;
    cursor: pointer;
}
.editButton i {
    margin-right: 10px;
}
.editButtonWrapper {
    display: flex;
    justify-content: flex-end;
}
.editButtonWrapper button {
    margin-left: 10px;
}
