.mainWrapper {
    max-width: 600px;
    width: 100%;
    margin: 0px auto;
    margin-top: 70px;
}
.formWrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 15px;
}
.siblingInputsWrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 0px;
    align-items: flex-end;
}
.redirectSignup {
    align-self: flex-end;
    margin-top: 10px;
}
.redirectSignup:hover {
    color: #045676;
}
.submitButton {
    align-self: flex-end;
    margin-top: 20px;
}
.formHeader {
    font-size: 32px;
    font-weight: 500;
    color: #26a69a;
    margin-bottom: 10px;
}
.authError {
    font-size: 10px;
    color: #d84f57;
    margin: 0px;
}
.inputWrapper {
    min-width: 250px;
    display: flex;
    flex-direction: column;
}
input {
    margin: 0px !important;
}
.avatarPosition {
    position: absolute;
    left: 50%;
    transform: translate(-50% , -50px);
    font-size: 35px;
    background-color: #045676;
    border-radius: 100%;
    padding: 12px 18px;
    color: white;
}
.welcomeBack {
    margin-top: 45px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 500;
    color: #045676;
}
.radioWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dob {
    font-size: 10px;
    margin: 0px;
}
@media only screen and (max-width: 600px) {
    .inputWrapper {
        width: 100%;
    }
}
